[project]
name = "resonate-sdk"
version = "0.5.3"
description = "Distributed Async Await by Resonate HQ, Inc"
readme = "README.md"
authors = [{ name = "Resonate HQ, Inc", email = "contact@resonatehq.io" }]
requires-python = ">=3.12"
dependencies = ["requests>=2.32.3"]

[project.urls]
Documentation = "https://github.com/resonatehq/resonate-sdk-py#readme"
Issues = "https://github.com/resonatehq/resonate-sdk-py/issues"
Source = "https://github.com/resonatehq/resonate-sdk-py"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[dependency-groups]
dev = [
    "docutils>=0.21.2",
    "pydoctor>=24.11.2",
    "pyright>=1.1.396",
    "pytest>=8.3.5",
    "pytest-cov>=6.1.1",
    "ruff>=0.11.0",
    "types-requests>=2.32.0.20250306",
]

[tool.pytest.ini_options]
testpaths = ["tests"]
addopts = ["--import-mode=importlib"]

[tool.hatch.build.targets.wheel]
packages = ["resonate"]
