[project]
name = "resonate-sdk"
version = "0.1.12"
description = "Distributed Async Await by Resonate HQ, Inc"
authors = [
    { name = "Resonate HQ, Inc", email = "contact@resonatehq.io" }
]
dependencies = [
    "typing-extensions>=4.12.2",
]
readme = "README.md"
requires-python = ">= 3.9"
license = { text = "Apache-2.0" }

[project.urls]
Documentation = "https://github.com/resonatehq/resonate-sdk-py#readme"
Issues = "https://github.com/resonatehq/resonate-sdk-py/issues"
Source = "https://github.com/resonatehq/resonate-sdk-py"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.rye]
managed = true
dev-dependencies = [
    "mypy>=1.10.0",
    "pytest>=8.2.0",
    "ruff>=0.4.7",
    "hypothesis>=6.104.2",
]

[tool.rye.scripts]
check-types = "dmypy run --timeout 60 -- src tests"

[tool.hatch.metadata]
allow-direct-references = true

[tool.hatch.build.targets.wheel]
packages = ["src/resonate"]


[tool.ruff]
unsafe-fixes = true

[tool.ruff.lint]
select = ["ALL"]
ignore = [
    "D",
    "ANN101",
    "COM812",
    "ISC001",
    "S101"
]

[tool.ruff.lint.isort]
combine-as-imports = true
required-imports = ["from __future__ import annotations"]

[tool.ruff.lint.per-file-ignores]
"tests/*.py" = ["INP001", "S101", "D"]
"scripts/*.py" = ["INP001"]

[tool.pytest.ini_options]
testpaths = ["tests"]
xfail_strict = true
addopts = [
    "--import-mode=importlib",
    "--strict-markers",
]
markers = [
    "integration: mark integration tests.",
    "unit: mark unittest.",
    "dev: mark tests on development.",
    "dst: mark dst tests.",
]

[tool.mypy]
mypy_path = "src"
plugins = []
follow_imports = "normal"
strict_optional = false
warn_redundant_casts = true
warn_unused_ignores = true
disallow_any_generics = true
check_untyped_defs = true
warn_unused_configs = true
disallow_subclassing_any = true
disallow_incomplete_defs = true
disallow_untyped_decorators = true
disallow_untyped_calls = true
disallow_untyped_defs = true
explicit_package_bases = true
