name: CD

on:
  release:
    types: [released]

env:
  PYTHONUNBUFFERED: "1"
  FORCE_COLOR: "1"

jobs:
  run:
    name: Deploy library
    
    permissions:
      id-token: write
      
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]

    steps:
      - uses: actions/checkout@v4

      - uses: eifinger/setup-rye@v2
        with:
          enable-cache: true
        
      - name: Build library
        run: rye build
    
      - name: Push build artifacts to PyPI
        uses: pypa/gh-action-pypi-publish@v1.12.3
